/* for classses */
.container-fluid {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

/* for tags */
body {
  background-color:#696969;
}

img {
  width: 70%;
}

h1 {
  margin: 30px;
  font-family: 'Indie Flower',cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4B0082;
}

p {
  font-size: 2rem;
  color: #4B0082;
  font-family: 'Indie Flower', cursive;
}

footer {
  margin-top: 5%;
  text-align: center;
  font-family: 'Indie-Flower', cursive;
  color: #F08080
}
